<div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
        <h2><i class="fa-solid fa-skull-crossbones"></i> Warning</h2>
<p>warning-alert works! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nihil eos voluptates perspiciatis corporis repudiandae maiores aut non aperiam minus.</p>
      <p>An example warning alert with an icon</p>
    </div>
  </div>