<!--<section>
  <h1>Hi! I'm in the App Component!</h1>
  <app-success-alert></app-success-alert>
  <app-warning-alert></app-warning-alert>
</section>-->

<main>
  <div class="container">

    <div class="wrapper border-bottom">
      <div class="container-fluid py-5">
        <h1 class="fw-bold"><i class="fa-solid fa-icons"></i> Success- ja Warning-ilmoitukset</h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed quasi architecto exercitationem totam atque reprehenderit enim impedit blanditiis maiores voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, vel.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed quasi architecto exercitationem totam atque reprehenderit enim impedit blanditiis maiores voluptatibus.</p>
        <p>Alertit pitää näkyä tuossa alapuolella mobiilinäytöllä allekkain, muilla näytön resoluutioilla rinnakkain.</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100">
          <h2>Success-ilmoitus</h2>
        <app-success-alert></app-success-alert>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100">
          <h2>Warning-ilmoitus</h2>
          <app-warning-alert></app-warning-alert>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100">
          <h2>Danger-ilmoitus</h2>
          <app-danger-alert></app-danger-alert>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100">
          <h2>Info-ilmoitus</h2>
          <app-info-alert></app-info-alert>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      © 2023
    </footer>
  </div>
</main>