
<div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
    <div>
        <h2><i class="fa-solid fa-circle-info"></i> Info</h2>
        <hr>
        <p>info-alert works! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt sunt veniam aperiam culpa itaque necessitatibus dolorem, sequi odit. Assumenda, ut.</p>
      <p> An example alert with an icon</p>
    </div>
  </div>
