
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
        <h2><i class="fa-solid fa-triangle-exclamation"></i> Danger!</h2>
        <hr>
        <p>danger-alert works! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur mollitia nulla voluptatibus, nam aliquid pariatur maiores dignissimos nobis deserunt natus?</p>
        <p>An example danger alert with an icon</p>
    </div>
  </div>
